body{
    background-image: url(./comps/assets/reel.jpg);
}

.headImage{
    background-image: url(./comps/assets/ticket.jpg);
    height: 20em;
    width: 100%;
    text-align: center;
    color: white;
    text-align: center;
    
}

.intro{
    text-align: center;
    background-color: whitesmoke;
    margin-top: 10em;
    
}


.bg-film {
    background-image: none;
    background-color: hotpink;
}
.bg-film {
    background-image: none;
    background-color: hotpink;
}

.chatpic{
    height: 20em;
    width: 20em;
    align-items: flex-start;
    contain: content;
}

.showcase{
    margin-top: 5em;
    color: aliceblue;
    background-color: #17A2B8;
    margin-bottom: 10em;
    contain: content;
    background-size: ;
}


